<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Suhu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
        <table border="2">
        <tr>
            <th>Celcius</th>
            <th>Fahrenheit</th>
            <th>Reamur</th>
            <th>Kelvin</th>
        </tr>
            <td th:text="${nilai}"></td>
            <td th:text="${fahrenheit}"></td>
            <td th:text="${reamur}"></td>
            <td th:text="${kelvin}"></td>
        </tr>
    </table>
</html>
